<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
<context:property-placeholder location="classpath:sports.properties"/>
<bean name="fortuneservice" class="com.example.spring_di2.HappyFortuneService">

</bean>
<bean name="coach" class="com.example.spring_di2.CricketCoach">

<property name="email" value="${foo.email}"></property>
<property name="team" value="${foo.team}"></property>
<property name="fortuneservice" ref="fortuneservice"></property>

</bean>

</beans>
